<div class="container-fluid" style="margin-top:40px">
    <div class="col-md-4 col-md-offset-4">
        <div class="login-panel panel panel-primary">
            <div class="panel-heading">
                <h1 class="panel-title">Enter your email address</h1>
            </div>
            <div class="panel-body">
                <form ng-submit="resetPassword()" method="post">
                    <fieldset>
                        <div class="form-group">
                            <input class="form-control" placeholder="email@company.com" ng-model="email" name="email" type="email" required="required" autofocus="autofocus"/>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-md btn-success" name="submit" type="submit">Reset Password</button>
                            <div><a href="#signup">New to Repod? Sign up</a></div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>