<div class="container" style="margin-top: 30px">

    <!--left-->
    <div class="row">
        <div class="col-md-2">
            <ul class="nav nav-pills nav-stacked">
                <li role="presentation"><a href="/users#/">Home</a></li>
                <li role="presentation"><a href="/users#/companyJobs">Gap jobs</a></li>
                <li role="presentation"><a href="#">Other jobs</a></li>
                <li role="presentation"><a href="#">Friends</a></li>
            </ul>
        </div>
        <!--/left-->

        <!--center-->
        <div class="col-md-10">

            <div class="row">
                <div class="col-md-4">
                    <a class="btn btn-block btn-social btn-linkedin" href="/users/auth/google">
                        <i class="fa fa-google"></i>
                        Import contacts from Google
                    </a>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-4">
                    <div class="well panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-12 col-sm-4 text-center">
                                    <a href=""><img src="http://api.randomuser.me/portraits/men/25.jpg" alt="" class="center-block img-circle img-thumbnail img-responsive"></a>
                                </div>
                                <div class="col-xs-12 col-sm-8">
                                    <h4>{{friends[0].name}}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="well panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-12 col-sm-4 text-center">
                                    <img src="http://api.randomuser.me/portraits/men/28.jpg" alt="" class="center-block img-circle img-thumbnail img-responsive">
                                </div>
                                <div class="col-xs-12 col-sm-8">
                                    <h4>{{friends[20].name}}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="well panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-12 col-sm-4 text-center">
                                    <img src="http://api.randomuser.me/portraits/women/3.jpg" alt="" class="center-block img-circle img-thumbnail img-responsive">
                                </div>
                                <div class="col-xs-12 col-sm-8">
                                    <h4>{{friends[30].name}}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="well panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-12 col-sm-4 text-center">
                                    <img src="http://api.randomuser.me/portraits/women/26.jpg" alt="" class="center-block img-circle img-thumbnail img-responsive">
                                </div>
                                <div class="col-xs-12 col-sm-8">
                                    <h4>{{friends[25].name}}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="well panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-12 col-sm-4 text-center">
                                    <img src="http://api.randomuser.me/portraits/men/27.jpg" alt="" class="center-block img-circle img-thumbnail img-responsive">
                                </div>
                                <div class="col-xs-12 col-sm-8">
                                    <h4>{{friends[26].name}}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="well panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-12 col-sm-4 text-center">
                                    <img src="http://api.randomuser.me/portraits/women/28.jpg" alt="" class="center-block img-circle img-thumbnail img-responsive">
                                </div>
                                <div class="col-xs-12 col-sm-8">
                                    <h4>{{friends[28].name}}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--
            <div class="row">
                <div class="col-md-12">
                    <div ui-grid="{ data: friends }" class="friends-grid"></div>
                </div>
            </div>

            -->
        </div>
    </div>
</div>


